body {
	font: Lato;
}

#home {
	background-color: white; /* change */
}

p {
	margin-left: 15%;
	margin-right: 15%;
	font-size: 35pt;
	text-align: center;
}

h1 {
	font-size: 70pt;
	text-align: center;
	margin-top: 25%
}

#home-buttons {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

button {
	margin-bottom: 30px;
}

.btn {
	padding: 50px 80px;
	border-radius: 30px;
	font-size: 45pt;
	width: 40%;
}

#scanning {
	margin-top: 5%;
	/* color: #2471A3; change */
}

#location-instructions {
	margin-top: 10%;
}

#scan-checkout {
	margin-top: 10%;
	margin-left: 60%;
	padding: 30px 20px;
	border-radius: 30px;
	font-size: 35pt;
	width: 35%;
}

#scanner {
	margin-top: 12%;
	height: 600px;
	width: 600px;
	background: black;
	margin-left: auto;
	margin-right: auto;
}