<html id="home-html" lang="en">
	<head>
	  <title>History</title>
	  <meta charset="utf-8">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link rel="stylesheet" href="../../../style.css">
	  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
	  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	  <script src="../../../script.js"></script>
	</head>
	<body id="home">
		<h1 id="history-header">History</h1>
		<h2>Account Balance: $<%= Account.getAll[0]["balance"]%></h2>
		<table class="table table-striped">
		    <thead>
		      <tr id="no-height">
		        <th>Location</th>
		        <th>Date</th>
		        <th>Total Cost</th>
		      </tr>
		    </thead>
		    <tbody id="history-table" >
		      <tr>
		        <td>Capital One</td>
		        <td>05/25/2018</td>
		        <td>$70.00</td>
		      </tr>
		      <tr>
		        <td>Target</td>
		        <td>5/22/18</td>
		        <td>$125.42</td>
		      </tr>
		      <tr>
		        <td>Forever 21</td>
		        <td>5/19/18</td>
		        <td>$39.91</td>
		      </tr>
		      <tr>
		        <td>Uniqlo</td>
		        <td>5/19/18</td>
		        <td>$27.53</td>
		      </tr>
		      <tr>
		        <td>H&amp;M</td>
		        <td>5/19/18</td>
		        <td>$18.00</td>
		      </tr>
		      <tr>
		        <td>Nordstrom</td>
		        <td>5/19/18</td>
		        <td>$213.21</td>
		      </tr>
		      <tr>
		        <td>Home Depot</td>
		        <td>5/18/18</td>
		        <td>$99.25</td>
		      </tr>
		      <tr>
		        <td>Gap</td>
		        <td>5/12/18</td>
		        <td>$31.88</td>
		      </tr>
		      <tr>
		        <td>PacSun</td>
		        <td>5/12/18</td>
		        <td>$47.37</td>
		      </tr>
		      <tr>
		        <td>lululemon</td>
		        <td>5/12/18</td>
		        <td>$134.64</td>
		      </tr>
		      <tr>
		        <td>Pottery Barn</td>
		        <td>5/10/18</td>
		        <td>$484.40</td>
		      </tr>
		    </tbody>
	  	</table>
	</body>
</html>
