<html id="home-html" lang="en">
    <head>
        <!--<link rel="canonical" href="https://serratus.github.io/examples/live_w_locator.html" />-->

        <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script>
            var host = "serratus.github.io";
            if ((host == window.location.host) && (window.location.protocol != "https:")) {
                window.location.protocol = "https";
            }
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-56318310-1', 'auto');
          ga('send', 'pageview');
        </script>

    <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/styles.css">
    <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/example.css">
    <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/pygment_trac.css">

      <meta charset="utf-8">
      <title>Scan</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!--<link rel="stylesheet" href="../../../style.css">-->
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
      <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
      <!--<script src="../../../script.js"></script>-->
    </head>
    <body id="home">
        <div id="location-instructions">
            <button id="change-location" type="button" class="btn btn-info" onclick="updateLocation()">Capital One Labs, 3030 Clarendon Blvd, Arlington, VA 22201</button>
            <p>Location not accurate? Tap to change locations.</p>
        </div>

        <p id="scanning">Start scanning!</p>

        <section id="container" class="container">

        <div id="interactive" class="viewport">
            <canvas class="drawingBuffer" width="640" height="480"></canvas>
            <video autoplay="true" preload="auto" src="" muted="true" playsinline="true"></video>
        </div>
        </section>
        <button onclick="location.href='/home/cart';" id="scan-checkout" type="button" class="btn btn-info">Checkout</button>

        <!--<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <!--<script src="quagga.min.js" type="text/javascript"></script>-->
    <!--<script src="live_w_locator.js" type="text/javascript"></script>-->
    <script src="https://serratus.github.io/quaggaJS/javascripts/scale.fix.js"></script>

    <div id="map" style="display: none"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAggOSRIfpvptp6aGTZSI4wS9RsA1IHNGI&libraries=places&callback=initMap" async defer></script>
    <!--<script src="location.js"></script>-->

    <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p id="added"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='history.html';">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
    </body>

</html>
