<html id="home-html" lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Scan</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link rel="stylesheet" href="../../../style.css">
	  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
	  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	  <script src="../../../script.js"></script>
	</head>
	<body id="home">
		<div id="location-instructions">
			<p>{get and show location}</p>
			<p>Location not accurate? Tap to change locations.</p>
		</div>
		<p id="scanning">Start scanning!</p>
		<!-- INSERT SCANNER HERE -->
		<div id="scanner">
		</div>
		<button id="scan-checkout" onclick="location.href='../../../cart.html';" type="button" class="btn btn-info">Checkout</button>
	</body>
</html>
