/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font: Lato;
}

button {
    margin-bottom: 30px;
}

.btn {
    padding: 30px 30px;
    border-radius: 30px;
    font-size: 45pt;
    width: 40%;
    background-color: #000000;
    border-color: #000000;
    transition: color .16s ease-in-out,background-color .16s ease-in-out,border-color .16s ease-in-out,box-shadow .16s ease-in-out;
}

#home {
    background-color: white; /* change */
}

#logo {
    width: 700px;
    height: auto;
}

#logo-div {
    text-align: center;
    margin-top: 22%;
}

#empty-table-header {
    color: white;
}

#detail-view-list-item {
    color: #808B96;
}

#history-header {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 60pt;
}

table {
    font-size: 35pt;
    text-align: center;
}

p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 35pt;
    text-align: center;
}

h1 {
    font-size: 70pt;
    text-align: center;
    margin-top: 25%
}

h2 {
    font-size: 50pt;
    text-align: center;
    margin-top: 20%;
}

h3 {
    font-size: 30pt;
    text-align: center;
}

.table td {
    vertical-align: middle;
}

#no-height {
    height: 100px;
}

tr {
    font-size: 35pt;
    height: 205px;
    margin: auto;
    text-align: center;
}

submit-purchase {
    margin-bottom: 10%;
}

#home-buttons {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#change-location {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: normal;
}

.drawingBuffer {
    margin-left: auto;
    margin-right: auto;
}

#interactive {
    width: 77%;
    max-width: 100%;
}



.cancel {
    font-size: 10px;
}

#scanning {
    margin-top: 5%;
    /* color: #2471A3; change */
}

#location-instructions {
    margin-top: 10%;
}

#scan-checkout {
    margin-top: 10%;
    margin-left: 60%;
    padding: 30px 20px;
    border-radius: 30px;
    font-size: 35pt;
    width: 35%;
}

#scanner {
    margin-top: 12%;
    height: 600px;
    width: 600px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #DFF6Fa;
}
